<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">DinexFront</a>

    @if (isAuthenticated) {
      <div class="d-flex align-items-center gap-2">
        <a class="btn btn-outline-light btn-sm" routerLink="/dashboard">
          <i class="bi bi-house-door me-1"></i> Home
        </a>
        <a class="btn btn-outline-light btn-sm" routerLink="/wallets">
          <i class="bi bi-wallet2 me-1"></i> Carteiras
        </a>
      </div>
    }

    <div class="ms-auto d-flex align-items-center gap-2">
      <button class="btn btn-outline-light btn-sm" (click)="toggleTheme()">
        @if (isDarkTheme) {
          <i class="bi bi-sun"></i>
        } @else {
          <i class="bi bi-moon"></i>
        }
      </button>

      @if (isAuthenticated) {
        <!-- <button class="btn btn-outline-danger btn-sm" (click)="logout()">
          <i class="bi bi-box-arrow-right me-1"></i> Sair
        </button> -->
        <button class="btn btn-danger btn-sm" (click)="logout()">
          <i class="bi bi-box-arrow-right me-1"></i> Sair
        </button>

      }
    </div>
  </div>
</nav>
