@tailwind base;
@tailwind components;
@tailwind utilities;


/* Força os toasts para o topo direito, ignorando configurações erradas */
/* .react-hot-toast {
  top: 64px !important;
  bottom: auto !important;
  right: 1rem !important;
  left: auto !important;
} */

html, body, #root { height: 100%; overflow-x: hidden; }
